<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.smallc.crawlercollection.repository.visited.IVisitedRepository">

    <select id="getAll" resultType="Visited">
        SELECT * FROM tb_visited;
    </select>

    <select id="getByTitle" parameterType="String" resultType="Visited">
        SELECT * FROM tb_visited WHERE title = #{title}
    </select>

    <select id="getByUrl" parameterType="String" resultType="Visited">
        SELECT * FROM tb_visited WHERE url = #{url}
    </select>

    <insert id="insert" parameterType="Visited">
        INSERT  into tb_visited
        (title,url,urlFrom,cts,visitedKey)
        values
        (#{title},#{url},#{urlFrom},#{cts},#{visitedKey})
    </insert>

    <select id="getByTitleAndUrl" resultType="Visited">
        SELECT * FROM tb_visited
        WHERE title = #{title}
        OR url = #{url}
    </select>

    <delete id="removeByUrlAndTitle" parameterType="Visited">
        DELETE FROM tb_visited WHERE url = #{url} or title = #{title}
    </delete>

    <delete id="removeByVisitedKey" parameterType="Visited">
        DELETE FROM tb_visited WHERE visitedKey = #{visitedKey}
    </delete>

    <select id="getVisitedKeyByUrlFrom" parameterType="String" resultType="String">
        SELECT visitedKey FROM tb_visited WHERE urlFrom = #{urlFrom}
    </select>

</mapper>